* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.main-header {
  background: #2F2235;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

header h2, h3 {
  margin: 20px 40px;
}

header span {
  color: #34D1D1;
}

.project-name {
  align-items: center;
  font-size: 1.2em;
  display: flex;
  margin: 50px auto;
  width: 100%;
}

.project-name p {
  margin: 30px 0 30px 40px;
}

.project-name hr {
  margin: 0 20px 0 30px;
  width: 75%;
}

.info h3 {
  border-bottom: 1px solid #D1D2D3;
  margin: 20px 0;
  padding-bottom: 15px;
}

section {
  display: flex;
  justify-content: center;
}

.accordion-tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab > span {
  display: none;
}

.tab {
  height: 75px;
  width: 21.25%;
  background-color: #F2F2F2;
  border-bottom: 1px solid #D1D2D3;
  color: #666666;
  cursor: pointer;
  font-size: 20px;
  line-height: 75px;
  list-style: none;
  text-align: center;
}

.active {
  border-top: 1px solid #D1D2D3;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-bottom: none;
  background-color: #FFF;
  font-weight: 600;
}

.tab-details {
  display: none;
}

.active-tab-details {
  border: 1px solid #D1D2D3;
  border-top: none;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 40px;
  order: 1;
  padding: 40px 0;
  width: 85%;
}

.picture {
  background: #F2F2F2;
  border: 1px solid #D1D2D3;
  height: 400px;
  width: 40%;
}

.info {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.view-code-btn {
  align-items: center;
  background-color: #3F3244;
  color: #FFFFFF;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 70px auto 100px;
  min-width: 300px;
  width: 80%;
  max-width: 500px;
}

@media screen and (max-width: 600px) {

  .tab {
    border-bottom: 1.5px solid #FFF;
    border-right: 1px solid #D1D2D3;
    border-left: 1px solid #D1D2D3;
    width: 85%;
  }

  .tab:last-of-type {
    border-bottom: 1px solid #D1D2D3;
  }

  .tab span {
    display: inline-flex;
    padding-left: 250px;
  }

  .active-tab-details {
    order: 0;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .picture {
    height: 250px;
    width: 100%;
  }

  .info {
    padding: 40px;
    width: 100%;
  }

}
