* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body a {
  text-decoration: none;
}

.main-header {
  background: #2F2235;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

header h2, h3 {
  margin: 20px 40px;
}

header span {
  color: #34D1D1;
}

.project-name {
  align-items: center;
  font-size: 1.2em;
  display: flex;
  width: 100%;
}

.project-name p {
  margin: 30px 0 30px 40px;
}

.project-name hr {
  margin: 0 20px 0 30px;
  width: 75%;
}

/*------------------------------------------------*/

.main-card-area {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  margin-bottom: 40px;
  width: 85%;
}

.card {
  border: 1px solid #D1D2D3;
  height: 300px;
  min-width: 250px;
}

.card-title {
  height: 75px;
  padding: 0 20px;
  border-bottom: 1px solid #D1D2D3;
  line-height: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  height: 225px;
  background-color: #F2F2F2;
}

#one {
  grid-area: 1/1/1/3;
}

#seven {
  grid-area: 3/2/3/4;
}

@media screen and (max-width: 1050px) {

  .main-card-area {
    grid-template-columns: 1fr 1fr;
  }

  #seven {
    grid-area: 4/2/5/3;
  }

}

@media screen and (max-width: 650px) {

  .main-card-area {
    grid-template-columns: 1fr;
  }

  .card {
    height: 400px;
  }

  .img {
    height: 325px;
  }

  #one {
    grid-area: 1/1/1/2;
  }

  #seven {
    grid-area: 7/1/7/2;
  }

}
