body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

.main-header {
  background: #2F2235;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

header h2, h3 {
  margin: 20px 40px;
}

.info h3 {
  margin: 20px 0;
}

header span {
  color: #34D1D1;
}

.project-name {
  align-items: center;
  font-size: 1.2em;
  display: flex;
  width: 100%;
}

.project-name p {
  margin: 30px 0 30px 40px;
}

.project-name hr {
  margin: 0 20px 0 30px;
  width: 75%;
}

.accordion-tabs {
  padding: 0;
  margin: auto;
  width: 80%;
  text-align: center;
}

.accordion-tabs li {
  list-style: none;
}

.tab {
  background: #F2F2F2;
  display: block;
  flex-direction: row;
}

.tab-details {
  background: #B3B3B3;
  display: none;
  float: left;
  overflow: hidden;
}

.picture {
  background: #F2F2F2;
  border: 1px solid;
  height: 250px;
  width: 90%;
}

.view-code-btn {
  align-items: center;
  background-color: #3F3244;
  color: #FFFFFF;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: auto;
  min-width: 300px;
  width: 80%;
  max-width: 500px;
}

@media screen and (min-width: 30em) {

  .accordion-tabs {
    border-top: 1px solid #D1D2D3;
    /*border-right: 1px solid #D1D2D3;*/
    /*border-left: 1px solid #D1D2D3;*/
    margin: auto;
    padding: 0;
    position: relative;
    width: 80%;
  }

  .accordion-tabs li {
    display: inline;
    padding: 0;
  }

  .tab {
    background: #F2F2F2;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 24.56%;
  }

  .accordion-tabs:first-child a {
    border-left: 1px solid #D1D2D3;

  }

  .tab.active {
    background: #FFFFFF;
  }

  .tab-details {
    background: #FFFFFF;
    border-bottom: 1px solid #D1D2D3;
    border-left: 1px solid #D1D2D3;
    border-right: 1px solid #D1D2D3;
    display: flex;
    margin-bottom: 50px;
  }

  .inner-content {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
  }

  .picture {
    background: #F2F2F2;
    border: 1px solid #D1D2D3;
    height: 300px;
    width: 40%;
  }

  .info {
    text-align: left;
    width: 40%;
  }

}
