body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding: 0;

  margin: 0;
}

body a {
  text-decoration: none;
}

header {
  background: #2F2235;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  /*padding: 0 40px 0 40px;*/
}

header h2, h3 {
  margin: 20px 40px;
}

header span {
  color: #34D1D1;
}

.project-name {
  align-items: center;
  font-size: 1.2em;
  display: flex;
  width: 100%;
}

.project-name p {
  margin: 30px 0 30px 40px;
}

.project-name hr {
  margin: 0 20px 0 30px;
  width: 75%;
}

.accordion-tabs li {
  list-style: none;
}

.tab {
  display: block;
  flex-direction: row;
}

.tab-details {
  background: #B3B3B3;
  display: none;
  float: left;
  overflow: hidden;
}

.view-code-btn {
  align-items: center;
  background-color: #3F3244;
  color: #FFFFFF;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 60px auto 30px auto;
  min-width: 300px;
  width: 80%;
  max-width: 500px;
}

@media screen and (min-width: 30em) {

  .accordion-tabs {
    position: relative;
    width: 80%;
  }

  .accordion-tabs li {
    display: inline;
  }

  .tab {
    display: inline-block;
  }

}
